body {
    background: linear-gradient(to bottom, #f6b93b, #e58e26, #fa983a, #f8c291);
    min-height: 100vh;
}

p {
    font-size: 20px;
}

button {
    width: 50px;
    height: min-content;
    margin: 5px;
    border: 2px solid #48CA3F;
    background: linear-gradient(135deg, #A1EF5E, #48CA3F);
}

.count,
.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1 {
    text-align: center;
}